<div class="panel-body">
    <form role="form" class="">
        <div class="form-group" ng-repeat="feature in features">
            <button class="btn btn-full-width" ng-click="broadcastChangedFeature(feature.name)">Add {{ feature.name }}</button>
            <div ng-show="feature.obj != null">
                <label for="markerPopup">Include {{ feature.name }} popup</label>
                <input id="markerPopup" type="checkbox" ng-model="popupEnabled" ng-checked="feature.popupEnabled" ng-change="broadcastChangedFeaturePopup(feature.name)">
            </div>
        </div>
    </form>
</div>