<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Map Fiddle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bs/bootstrap.css">
    <link rel="stylesheet" href="css/leaflet.css" />
    <!--<link rel="stylesheet" href="css/prettify-theme-desert.css" />-->
    <!--<link rel="stylesheet" href="css/prettify.css" />-->
    <style>
        /* TODO replace with some JS to resize the map */
        @media (min-height:570px) { /* 768 */
            #map {
                height: 456px;
            }
        }
        @media (min-height:870px) { /* 1050 */
            #map {
                height: 756px;
            }
        }

        @media (min-height:900px) { /* 1080 */
            #map {
                height: 786px;
            }
        }
    </style>
</head>

<body>
<!--Header / Navigation-->
<!--http://getbootstrap.com/components/#navbar-->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">MapFiddle</a>
    </div>
</nav>
<!-- END Header / Navigation-->
<div class="container-fluid">
    <!-- http://getbootstrap.com/css/#grid -->
    <div class="row" ng-controller="NavController as nc">
        <div class="col-sm-2" ng-controller="OptionsController as oc">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Map Options</h3>
                </div>
                <div class="panel-body">
                    <form role="form" class="">
                        <div class="form-group" ng-repeat="option in options">
                            <div ng-if="option.inputType == 'range'" option-range="option"></div>
                            <div ng-if="option.inputType == 'checkbox'" option-checkbox="option"></div>
                            <!--<pre>{{option}}</pre>-->
                        </div>
                    </form>
                    <div class="alert alert-info" role="alert">There are many more options in <a target="_blank" href="http://leafletjs.com/reference.html#map-options">Leaflet's official documentation</a>.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Cool Stuff</h3>
                </div>
                <div class="panel-body">
                    Add Markers, circles, polygons, popups and events....soon.
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{ active: nc.isSelected(1) }"><a ng-click="nc.selectTab(1)" href="#/map" role="tab" data-toggle="tab">Map</a></li>
                <li ng-class="{ active: nc.isSelected(2) }"><a ng-click="nc.selectTab(2)" href="#/code" role="tab" data-toggle="tab">HTML + JavaScript</a></li>
            </ul>
            <!-- END Tabs -->
        </div>
        <div class="col-sm-10">
            <div ng-view></div>
        </div>
    </div>


</div>
<script src="js/angular.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/lodash.js"></script>
<script src="js/utility.js"></script>
<script src="js/leaflet.js"></script>
<script src="app.js"></script>
<script src="controllers/navController.js"></script>
<script src="controllers/optionsController.js"></script>
<script src="controllers/mapViewController.js"></script>
<script src="controllers/codeViewController.js"></script>
<script src="directives/directives.js"></script>
<script src="services/mapService.js"></script>
<script src="services/optionsService.js"></script>
<script src="services/codeService.js"></script>

<script src="js/prettify/run_prettify.js"></script>
<script src="js/prettify/prettify.js"></script>
</body>

</html>