<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Map Fiddle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bs/bootstrap.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <style>
        /* TODO replace with some JS to resize the map */
        @media (min-height:570px) { /* 768 */
            #map {
                height: 456px;
            }
        }
        @media (min-height:870px) { /* 1050 */
            #map {
                height: 756px;
            }
        }

        @media (min-height:900px) { /* 1080 */
            #map {
                height: 786px;
            }
        }
    </style>
</head>

<body>
<!--Header / Navigation-->
<!--http://getbootstrap.com/components/#navbar-->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">MapFiddle</a>
    </div>
</nav>
<!-- END Header / Navigation-->
<div class="container-fluid">
    <!-- Tabs -->
    <!--http://getbootstrap.com/css/#grid-->
    <div class="row" ng-controller="NavController as nc">
        <div class="col-sm-2"><h4>Map Options</h4></div>
        <div class="col-sm-10">
            <!-- Tab panes -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{ active: nc.isSelected(1) }"><a ng-click="nc.selectTab(1)" href="#/map" role="tab" data-toggle="tab">Map</a></li>
                <li ng-class="{ active: nc.isSelected(2) }"><a ng-click="nc.selectTab(2)" href="#/code" role="tab" data-toggle="tab">HTML + JavaScript</a></li>
            </ul>
        </div>
    </div>
    <!-- END Tabs -->

    <!-- Options & Map -->
    <div class="row ">
        <div class="col-sm-2" ng-controller="OptionsController as oc">
            <form role="form" class="">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="example">Zoom: 18</label>
                    <input id="example" min="0" max="20" type="range" class="add-on mapoption-range">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                </div>

                <div class="form-group" ng-repeat="option in oc.getSideBarOptionsAll()">
                    <div ng-if="option.inputType == 'range'" option-range="option"></div>
                    <div ng-if="option.inputType == 'checkbox'" option-checkbox="option"></div>
                    <pre>{{option}}</pre>
                </div>

            </form>



        </div>
        <div class="col-sm-10">
            <div ng-view></div>
        </div>
    </div>
    <!-- END Options & Map -->
</div>

<!--<script src="js/bootstrap.min.js"></script>-->
<script src="js/angular.js"></script>
<script src="js/angular-route.min.js"></script>
<!--<script src="js/linq.js"></script>-->
<script src="js/lodash.js"></script>
<script src="js/utility.js"></script>
<script src="js/leaflet.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="controllers/nav.js"></script>
<script type="text/javascript" src="controllers/options.js"></script>
<script type="text/javascript" src="controllers/mapview.js"></script>
<script type="text/javascript" src="controllers/codeview.js"></script>
<script type="text/javascript" src="directives/directives.js"></script>
<!--<script type="text/javascript" src="controllers/mapfiddle.js"></script>-->
<!--<script type="text/javascript" src="controllers/angularui.js"></script>-->
<!--<script type="text/javascript" src="services/output.js"></script>-->
<script type="text/javascript" src="services/options.js"></script>
<script type="text/javascript" src="services/code.js"></script>
</body>

</html>