html, body {
    padding-top: 0;
    padding-bottom: 0;
}
#osmmap {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#gmap {
     height: 100%;
     position: fixed !important;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     overflow: hidden;
     margin: 0;
     padding: 0;
 }
#logo {
    opacity: .7
}

.app-front {
    z-index: 1001;
}
.btn.btn-full-width {
    width:100%;
}
.force-square {
    border-radius: 0 !important;
}
div.panel-body ol {
    padding-left: 20px;
}

.no-outline:focus {
    outline: none;
}

#select-map {
    margin-top: 20px;
    margin-bottom: 10px;
}

#select-map > ul {
    position: absolute;
    z-index: 1000;
    min-width: 260px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#select-map li > a:hover, #select-map li > a:focus {
    color: #262626 !important;
    text-decoration: none !important;
    background-color: #f5f5f5 !important;
}

#select-map li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}