html, body {
    padding-top: 0;
    padding-bottom: 0;
}
#osmmap {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#gmap {
     height: 100%;
     position: fixed !important;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     overflow: hidden;
     margin: 0;
     padding: 0;
 }
#logo {
    opacity: .7
}

.app-front {
    z-index: 1001;
}
.btn.btn-full-width {
    width:100%;
}
.force-square {
    border-radius: 0 !important;
}
div.panel-body ol {
    padding-left: 20px;
}

.no-outline:focus {
    outline: none;
}