<div class="panel-body">
    <p>Mapstrap was created to assist developers by providing much of the boilerplate code needed to create a web map. As well as providing working documentation for often used map features.</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">How to use Mapstrap</h5>
        </div>
        <div class="panel-body">
            <ol>
                <li>Play with Options, Features and Events</li>
                <li>Zoom and center the map to the desired location</li>
                <li>Click the HTML + Javascript button to get the code to make the map.</li>
            </ol>
            <p>The HTML and JavaScript displayed in the output window can be copy/pasted into a lone .html file for a fully working map.</p>
        </div>
    </div>
    <p>This project is open source and can be found on <a target="_blank" href="https://github.com/rosay/mapstrap">GitHub</a></p>
</div>